{{extends "base.html"}}
{{import "menu.html"}}
{{block header()}}
{{yield menu(active="books")}}
{{end}}
{{block page_title()}}{{.book.TitleDisplay()}}{{end}}

{{block body()}}
<div class="columns">
<div class="column col-12">
  <div class="divider"></div>
</div>
{{range author := .book.Authors}}
<div class="column col-6">
  <div class="tile">
    <div class="tile-content">
      <p class="tile-title">{{author.Name}}</p>
      <p class="tile-subtitle">Some bio stuff maybe...</p>
      <p>
      <button class="btn btn-primary btn-sm">{{T("book_details")}}</button>
      </p>
    </div>

  </div>
</div>
{{end}}
<div class="column col-12">
  <div class="divider"></div>
</div>
<div class="column col-12">
  <p class="text-justify"> {{.book.Description}} </p>
</div>
<form class="column col-md-6 col-sm-12" method="POST">
  <input name="X-CSRF-Token" type="hidden" value="{{context.Get("csrf")}}"/>
  {{if !.book.InCollection() && !.book.InWishlist()}}
  <input type="hidden" name="action" value="add"/>
  <div class="btn-group">
    <button class="btn btn-primary" type="submit" name="tag" value="collection">
      {{T("collection_add")|capitalize}}
    </button>
    <button class="btn" type="submit" name="tag" value="wishlist">
      {{T("wishlist_add")|capitalize}}
    </button>
  </div>
  {{else}}
  <input type="hidden" name="action" value="del"/>
  {{if .book.InCollection()}}
  <button class="btn" type="submit" name="tag" value="collection">
    {{T("collection_del")|capitalize}}
  </button>
  {{end}}
  {{if .book.InWishlist()}}
  <button class="btn" type="submit" name="tag" value="wishlist">
    {{T("wishlist_del")|capitalize}}
  </button>
  {{end}}
  {{end}}
</form>
</div>
{{end}}
