{{extends "base.html"}}
{{import "menu.html"}}
{{block header()}}
{{yield menu(active="user")}}
{{end}}
{{block page_title()}}Register{{end}}

{{block body()}}
{{form := .["form"]}}
{{error_email := .["error"]["email"]}}
{{error_password := .["error"]["password"]}}

<div class="column col-6 col-mx-auto">
  <form method="POST" action="{{url("new")}}">
    <div class="form-group{{if isset(error_email)}} has-error{{end}}">
      <label class="form-label" for="email">Email</label>
      <input class="form-input" name="email" type="text" id="email" placeholder="Valid email address" autocomplete="off" value="{{form.Email}}">
      {{if isset(error_email)}}
      <p class="form-input-hint">{{error_email|capitalize}}.</p>
      {{end}}
    </div>
    <div class="form-group{{if isset(error_password)}} has-error{{end}}">
      <label class="form-label" for="password">Password</label>
      <input class="form-input"
             name="password"
             type="password"
             value="{{form.Password}}"
             id="password"
             placeholder="Password"
             autocomplete="off" />
      <label class="form-label" for="confirmation">
        Confirm password
      </label>
      <input class="form-input"
             name="confirmation"
             value="{{form.Confirmation}}"
             type="password"
             id="confirmation"
             placeholder="Password"
             autocomplete="off" />
      {{if isset(error_password)}}
      <p class="form-input-hint">{{error_password|capitalize}}.</p>
      {{end}}
    </div>

    <input name="X-CSRF-Token" type="hidden" value="{{context.Get("csrf")}}"/>
    <div class="form-group text-right">
      <button class="btn btn-primary col-3 col-md-12 mt-1" type="submit">
        Submit
      </button>
      <button class="btn btn-default col-3 col-md-12 mt-1" type="reset">
        Cancel
      </button>
    </div>
  </form>
</div>
{{end}}
