{{extends "base.html"}}
{{import "menu.html"}}
{{block header()}}
{{yield menu(active="user")}}
{{end}}
{{block page_title()}}{{T("signup")}}{{end}}

{{block body()}}
{{form := .["form"]}}
{{error_email := .["error"]["email"]}}
{{error_password := .["error"]["password"]}}

<div class="column col-6 col-mx-auto">
  <form method="POST" action="{{url("new")}}">
    <div class="form-group{{if isset(error_email)}} has-error{{end}}">
      <label class="form-label" for="email">{{T("auth_form_email")}}</label>
      <input placeholder="{{T("auth_form_email_placeholder")}}"
             value="{{form.Email}}"
             class="form-input" name="email" type="text" id="email" autocomplete="off"/>
      {{if isset(error_email)}}
      <p class="form-input-hint">{{T(error_email)|capitalize}}</p>
      {{end}}
    </div>
    <div class="form-group{{if isset(error_password)}} has-error{{end}}">
      <label class="form-label" for="password">{{T("auth_form_password")}}</label>
      <input placeholder="{{T("auth_form_password_placeholder")}}"
             value="{{form.Password}}"
             class="form-input" name="password" type="password" id="password" autocomplete="off" />
      <label class="form-label" for="confirmation">{{T("confirm_password")}}</label>
      <input placeholder="{{T("auth_form_password_placeholder")}}"
             value="{{form.Confirmation}}"
             class="form-input" name="confirmation" type="password" id="confirmation" autocomplete="off" />
      {{if isset(error_password)}}
      <p class="form-input-hint">{{T(error_password)|capitalize}}</p>
      {{end}}
    </div>

    <input name="X-CSRF-Token" type="hidden" value="{{context.Get("csrf")}}"/>
    <div class="form-group text-right">
      <button class="btn btn-primary col-3 col-md-12 mt-1" type="submit">{{T("signup")}}</button>
      <button class="btn btn-default col-3 col-md-12 mt-1" type="reset">{{T("cancel")}}</button>
    </div>
  </form>
</div>
{{end}}
