{{extends "base.html"}}
{{import "menu.html"}}
{{import "pagination.html"}}

{{block header()}} {{yield menu(active="wishlists")}} {{end}}
{{block page_title()}}{{.wishlist.Name}}{{end}}

{{block body()}}
{{if !isset(user) || .wishlist.User != user.Email}}
<div class="columns">
  <div class="column col-12">
    <p class="empty"><b>{{T("shared_msg")}}</b><p>
  </div>
</div>
{{end}}
<div class="columns">
  <div class="column col-12 mb-2">
    {{yield pagination(obj=.pagination,base=context.Request().URL)}}
    {{if .wishlist.Books}}
    {{range book := .wishlist.Books}}
    <a class="tile column col-12 rounded" href="{{url("book", book.Isbn)}}">
      <div class="tile-icon">
        <figure class="figure">
          <img class="thumb" src="{{book.Thumbnail}}" alt="book cover">
        </figure>
      </div>
      <div class="tile-content">
        <div class="column col-12 ml-2 mt-2">
          <h2>{{book.TitleDisplay()}}</h2>
          <p class="text-gray">{{book.Authors}}</p>
          <p>{{book.Description}}</p>
        </div>
      </div>
    </a>
    {{end}}
    {{else}}
    <h3 class="text-center">{{T("wishlist_no_book")}}</h3>
    {{end}}
    {{yield pagination(obj=.pagination,base=context.Request().URL)}}
  </div>
</div>
{{end}}
